.topnav {
    overflow: hidden;
    background-color: #0086AD;
    color: white;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: dodgerblue;
    color: black;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0086AD;
    color: white;
    text-align: center;
}

div container {
    border-radius: 10px;
    height: 50px;
    width: 75px;
    background-color: lightskyblue !important;
}

body {
    background-color: #f2f9fb;
}

img {
    height: 100px;
    display: block;
}